In [2]:
import numpy as np
import pandas as pd

In [3]:
list('ABCD')

['A', 'B', 'C', 'D']

In [5]:
df = pd.DataFrame(np.random.randint(0,100,size=(50,4)), columns=list('ABCD'))
df

     A   B   C   D
0   69  84   2  10
1   93  25  18  40
2   40  25  30  60
3    7  43  58  75
4    7  12  60  97
5   90   9  42   8
6   46  84  58  90
7   60  83  92  57
8   79  98  19  54
9   54  26  96  81
10  49  17  38  48
11  72  69  12  53
12  72  30  47  80
13  33  24  26   3
14  77  63  20  47
15   9  26   0  18
16  72  38  81  78
17  96  69  82  63
18  41   2  63  69
19  58   7  39  41
20  29  69  85  23
21   8  17  65  98
22  45   8  14  54
23  96  93  90  29
24  29  41  27  82
25  95  45  55  96
26   2  55  39   2
27  16  40  97  89
28  12  59  56  47
29   0  15  62  17
30  91  24  67   0
31   5  73   8  99
32  45  99  84  35
33  25  77  65  18
34  11  65  11  37
35  56  65  47   9
36  16  16  21  26
37  58  22   9   7
38  87  78  12  46
39  81  44  73   0
40  87  12  44  59
41  65  13  10  97
42  64  51  46  83
43  77  58  26  97
44  92  68  76  66
45  43  71  25  65
46  97  54  62  58
47  94  42   0  62
48  18  83   9  24
49  30  23  58  56

In [22]:
df.loc[:,'A']

0     69
1     93
2     40
3      7
4      7
5     90
6     46
7     60
8     79
9     54
10    49
11    72
12    72
13    33
14    77
15     9
16    72
17    96
18    41
19    58
20    29
21     8
22    45
23    96
24    29
25    95
26     2
27    16
28    12
29     0
30    91
31     5
32    45
33    25
34    11
35    56
36    16
37    58
38    87
39    81
40    87
41    65
42    64
43    77
44    92
45    43
46    97
47    94
48    18
49    30
Name: A, dtype: int64