In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randint(0, 100, size=(100,4)), columns=list('ABCD'))
df.head()

    A   B   C   D
0  13  57  89  32
1  86  43  13   8
2  93  91  62  15
3  51  87  30  31
4  45  56  45  65

In [4]:
df_b = df[['A', 'B']]
df_b.head()

    A   B
0  13  57
1  86  43
2  93  91
3  51  87
4  45  56

In [5]:
df_b.B = 0
df.head()

/Users/taekkim/datacamp/venv/lib/python3.8/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

    A   B   C   D
0  13  57  89  32
1  86  43  13   8
2  93  91  62  15
3  51  87  30  31
4  45  56  45  65

In [6]:
df_b.head()

    A  B
0  13  0
1  86  0
2  93  0
3  51  0
4  45  0

In [7]:
df_c = df
id(df) == id(df_c)

True

### 결론
dataframe 에서 특정 열을 선택하여 할당하는 것은 list의 특정열을 할당하려는 시도와 같음
-> 새로운 df를 만들고 copy하는 것에 해당

### 더 배우기
shallow copy or deep copy