In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(np.random.randint(0, 100, size=(100,4)), columns=list('ABCD'))
df.head()

    A   B   C   D
0  20  41  46  92
1  62  15  49  65
2  45  54  39  56
3  33  87  44  59
4  27  74  31  53

In [10]:
df_b = df[['A', 'B']]
df_b.head()

    A   B
0  20  41
1  62  15
2  45  54
3  33  87
4  27  74

In [12]:
df_b.B = 0
df.head()

    A   B   C   D
0  20  41  46  92
1  62  15  49  65
2  45  54  39  56
3  33  87  44  59
4  27  74  31  53

In [13]:
df_b.head()

    A  B
0  20  0
1  62  0
2  45  0
3  33  0
4  27  0

### 결론
dataframe 에서 = 는 할당이 아니라 copy

### 더 배우기
shallow copy or deep copy