In [7]:
import numpy as np
import pandas as pd

# 괄호, loc, iloc 접근

In [65]:
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 5)), columns=list('ABCDE'), index=['one', 'two', 'three', 'four', 'five'])
df.head()

        A   B   C   D   E
one    69  86  53  52  51
two    41  66  61  95  60
three  94  67  27  95  10
four   51  41   8  90  52
five   75  51  88   9   3

## 괄호 접근
### 하나의 열 접근, Series로
df['A']

In [66]:
print(type(df['A']), df['A'], sep='\n', end='\n\n')

<class 'pandas.core.series.Series'>
one      69
two      41
three    94
four     51
five     75
Name: A, dtype: int64

### 여러 열 접근, Dataframe로
df[['A']]

In [67]:
print(type(df[['A']]), df[['A']], sep='\n', end='\n\n')

<class 'pandas.core.frame.DataFrame'>
        A
one    69
two    41
three  94
four   51
five   75

### 여러 열 접근, Dataframe으로
df[['A','C']]

In [68]:
print(type(df[['A','C']]), df[['A','C']], sep='\n')

<class 'pandas.core.frame.DataFrame'>
        A   C
one    69  53
two    41  61
three  94  27
four   51   8
five   75  88

### 행 접근 X

In [69]:
# 여러 열을 출력하고자 할때는 리스트 형태여야함
#df['A','C'] error

# 행의 인덱스로 접근할 수 없음
#df['one'] # error

# 위에 따라 당연히 복합도 되지 않음
#df[['one'], ['A', 'C']]

### 결론
단순 대괄호 연산으로는 열만 접근할 수 있음

## loc, iloc
### 하나의 행, 열 출력 Series로

df.loc['one']

df.loc[:, 'A']

df.iloc[0]

df.iloc[:, 0]

In [83]:
print(type(df.loc['one']), df.loc['one'], sep='\n', end='\n\n')
print(type(df.loc[:,'A']), df.loc[:,'A'], sep='\n', end='\n\n')
print(type(df.iloc[0]), df.iloc[0], sep='\n', end='\n\n')
print(type(df.iloc[:,0]), df.iloc[:,0], sep='\n')

<class 'pandas.core.series.Series'>
A    69
B    86
C    53
D    52
E    51
Name: one, dtype: int64

<class 'pandas.core.series.Series'>
one      69
two      41
three    94
four     51
five     75
Name: A, dtype: int64

<class 'pandas.core.series.Series'>
A    69
B    86
C    53
D    52
E    51
Name: one, dtype: int64

<class 'pandas.core.series.Series'>
one      69
two      41
three    94
four     51
five     75
Name: A, dtype: int64

### 하나의 행, 열 출력 DataFrame으로

df.loc[['one']]

df.loc[:, ['A']]

df.iloc[[0]]

df.iloc[:, [0]]

In [84]:
print(type(df.loc[['one']]), df.loc[['one']], sep='\n', end='\n\n')
print(type(df.loc[:, ['A']]), df.loc[:, ['A']], sep='\n', end='\n\n')
print(type(df.iloc[[0]]), df.iloc[[0]], sep='\n', end='\n\n')
print(type(df.iloc[:, [0]]), df.iloc[:, [0]], sep='\n')

<class 'pandas.core.frame.DataFrame'>
      A   B   C   D   E
one  69  86  53  52  51

<class 'pandas.core.frame.DataFrame'>
        A
one    69
two    41
three  94
four   51
five   75

<class 'pandas.core.frame.DataFrame'>
      A   B   C   D   E
one  69  86  53  52  51

<class 'pandas.core.frame.DataFrame'>
        A
one    69
two    41
three  94
four   51
five   75

### 여러 행, 열 출력, DataFrame

df.loc[['one','three']]

df.iloc[0,2], df.iloc[1:3]

In [79]:
print(type(df.loc[['one', 'three']]), df.loc[['one', 'three']], sep='\n', end='\n\n')
print(type(df.iloc[[0, 2]]), df.iloc[[0, 2]], sep='\n', end='\n\n')
print(type(df.iloc[1:3]), df.iloc[1:3], sep='\n') # 마지막 인덱스 제외

<class 'pandas.core.frame.DataFrame'>
        A   B   C   D   E
one    69  86  53  52  51
three  94  67  27  95  10

<class 'pandas.core.frame.DataFrame'>
        A   B   C   D   E
one    69  86  53  52  51
three  94  67  27  95  10

<class 'pandas.core.frame.DataFrame'>
        A   B   C   D   E
two    41  66  61  95  60
three  94  67  27  95  10